// Colors
$dark-sky-blue: #55acee;
$nice-blue: #176bad;
$black: #292929;
$warm-grey: #8c8c8c;
$brownish-grey: #666666;
$white: #ffffff;
$alabaster: #f7f7f7;
$alto: #e0e0e0;
$algae: #56b467;
$gallery: #eeeeee;
$border: #dddddd;
$windows-blue: #3971c1;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;