.Card {
  border: 1px solid black;
  margin: 20px;
}

.fa-bookmark, .fa-chevron-down {
  width: 13px;
  height: 13px;
  color: #666;
}

.fa-twitter {
  width: 13px;
  height: 13px;
  color: #55acee;
}