@import '../../styles/custom/variables';

.UserMenu {
  padding: 8px 18px;
  display: flex;
  align-items: center;
  position: relative;

  img {
    margin-right: 10px;
  }

  .user-name {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      margin-right: 5px;
      font-weight: bold;

      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }

    img {
      width: 7px;
      height: 7px;
    }
  }

  &.opened {
    background: $gallery;

    .user-name img {
      transform: rotate(180deg);
    }
  }
}